body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f5f7;
    color: #333333;
}
.contenedor-pagina{
    display: flex;
}
.barra-Lateral{
    width: auto;
    background-color: #b3b3b3;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid black;
}
.barra-separadora{
    background-color: #000000;
    width: auto;
    height: 2px;
}
.contenedor-pri{
    background-color: #b3b3b3;
    border: 2px solid black;
    flex-grow: 1;
    padding: 20px;
}
